{% block StepType_label %}
{% endblock %}

{# better disposition of each elements #}
{% block StepType_widget %}

<div class="row horizontal-form">
  {{ form_row(form.position) }}
  <div class="col s8">
    {{ form_row(form.text) }}
  </div>
  <div class="col s4">
    <a href="#" class="btn"><i class="material-icons">drag_handle</i></a>
    <a href="#" class="collection-remove btn"><i class="material-icons">delete</i></a>
    <a href="#" class="collection-add btn"><i class="material-icons">add</i></a>
  </div>
  <div class="col s10">
    <h6 class="teal-text">Timers :</h6>
    {{ form_row(form.timers) }}
  </div>
</div>

{% endblock %}
