{% extends 'base.html.twig' %}

{% block body %}

<h1>{{ ingredient.name }}</h1>

<p>
  {{ ingredient.description }}
</p>

<p>
  {{ ingredient.advice }}
</p>

<h4 class="teal-text">Les recettes</h4>

{% for recipe in recipes %}
{% include 'recipe/recipe-card.html.twig' %}
{% endfor %}

{% endblock %}
