{% extends 'base.html.twig' %}


{% block body %}

{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form._token) }}

<div class="row">
{{ form_widget(form.name) }}

<div class="col s6">
  <h4 class="teal-text">Catégories</h4>
  {% for key, category in form.categories %}
  <p>
    <label>
      <input name="{{ category.vars.full_name }}" value="{{ category.vars.name }}" type="checkbox" />
      <span>{{ category.vars.label }}</span>
    </label>
  </p>
{% endfor %}
</div>

<div class="col s6">
  <h4 class="teal-text">Équipements</h4>
  {% for key, equipment in form.equipments %}
  <p>
    <label>
      <input name="{{ equipment.vars.full_name }}" value="{{ equipment.vars.name }}" type="checkbox" />
      <span>{{ equipment.vars.label }}</span>
    </label>
  </p>
{% endfor %}
</div>

<div class="col s12">
  <h4 class="teal-text">Ingrédients</h4>
  <p>
    <label>
      <input name="advance_search[only]" id="advance_search_only" type="checkbox" />
      <span>Les recettes ne comporteront seulement les ingrédients suivant</span>
    </label>
  </p>

  <ul class="tags" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}">
  </ul>
</div>
<div class="col s12">
{{ form_row(form.submit) }}
</div>
{{ form_end(form, {'render_rest': false}) }}
</div>

{% if result %}
<div class="row">
  <h4 class="teal-text">Resultats</h4>
  {% for recipe in result %}
  {% include 'recipe/recipe-card.html.twig' %}
  {% endfor %}
</div>
{% endif %}

{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/app/js/jquery-ui.min.js') }}"></script>

<script>
var availableTags = [
  {% for ingredient in ingredients %}
  {"name" : "{{ ingredient.name }}", "id": {{ ingredient.id }}},
  {% endfor %}
];

var $collectionHolder;
var $addTagButton = $('<button type="button" class="btn add_tag_link">Ajouter un ingrédient</button>');
var $newLinkLi = $('<li></li>').append($addTagButton);

jQuery(document).ready(function() {
  $collectionHolder = $('ul.tags');
  $collectionHolder.append($newLinkLi);
  $collectionHolder.data('index', $collectionHolder.find(':input').length);
  $addTagButton.on('click', function(e) {
    addTagForm($collectionHolder, $newLinkLi);
  });
});

function addTagForm($collectionHolder, $newLinkLi) {
  var prototype = $collectionHolder.data('prototype');
  var index = $collectionHolder.data('index');
  var newForm = prototype;

  newForm = newForm.replace(/__name__/g, index);
  $collectionHolder.data('index', index + 1);
  var $newFormLi = $('<li></li>').append(newForm);
  $newLinkLi.before($newFormLi);
  nameInput = $newFormLi.find(".ingredient_name_input");

  nameInput.autocomplete({
    source: function (request, response) {
      jQuery.get("{{ url('advance_search_ingredients') }}?name=" + nameInput.val(), {
        query: request.term
      }, function (data) {
        console.log(data);

        response ($.map(data, function (value, key) {
          return {
            label: value.name,
            value: value.id
          }
        }));
      });
    },
    select: function(event, ui) {
      $(this).val(ui.item.label);
      $(this).parent().parent().find(".ingredient_id_input").val(ui.item.value);
      return false;
    }
  });
}
</script>

<script>
$( function() {
  $( "#tags" ).autocomplete({
    source: function (request, response) {
      response($.map(availableTags, function (value, key) {
        return {
          label: value.name,
          value: value.id
        }
      }));
    },
    select: function(event, ui) {
      console.log(ui.item);
      $('#tags').val(ui.item.label);
      $('#link_origin_id').html(ui.item.value);
      return false;
    }
  });
} );
</script>
{% endblock %}
