{% extends 'base.html.twig' %}



{% block body %}
<div class="row">
  <div id="title_section" class="center col s12">
    <p>
      <img src="{{ asset('bundles/app/img/logo.png') }}"></img>
    </p>
    <h1 class="teal-text"><i>Beat Eat</i></h1>
  </div>
  <div class="col s12 m4 hoverable home-page-feature">
    <div class="center promo">
      <i class="material-icons teal-text large">pan_tool</i>
      <p class="promo-caption"><h4>Simplicité</h4></p>
      <p class="light center">Simple et fonctionnel, vous trouverez tout ce dont vous avez besoin en un seul clic avec une interface agréable. Un site simple et efficace !</p>
    </div>
  </div>

  <div class="col s12 m4 hoverable home-page-feature">
    <div class="center promo">
      <i class="material-icons teal-text large">important_devices</i>
      <p class="promo-caption"><h4>Responsive</h4></p>
      <p class="light center">Disponible sur n'importe quel support : PC, tablette, smartphone. Une interface à emporter n'importe où !</p>
    </div>
  </div>

  <div class="col s12 m4 hoverable home-page-feature">
    <div class="center promo">
      <i class="material-icons teal-text large">block</i>
      <p class="promo-caption"><h4>Aucune publicité</h4></p>
      <p class="light center">Marre des publicités, des pop-ups et des vidéos qui se lancent toutes seules ? Nous aussi, ici on priorise l'expérience utilisateur !</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m4 hoverable home-page-feature">
    <div class="center promo">
      <i class="material-icons teal-text large">dashboard</i>
      <p class="promo-caption"><h4>Une tonne de fonctionnalités</h4></p>
      <p class="light center">Simplifions-nous la vie ! Découvrez des fonctionnalités qui vous faciliteront la cuisine. Des outils de conversion en passant par des minuteries déjà programmées</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="center promo hoverable home-page-feature">
      <i class="material-icons teal-text large">call_merge</i>
      <p class="promo-caption"><h4>Un choix simple</h4></p>
      <p class="light center">Vous recherchez une recette de crêpes ? Vous n'aurez jamais deux fois la même et nous les aurons testées pour vous !</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="center promo hoverable home-page-feature">
      <i class="material-icons teal-text large">mail</i>
      <p class="promo-caption"><h4>À votre écoute</h4></p>
      <p class="light center">Vous avez des suggestions ou des recettes à proposer ? Envoyez un mail à <i>frdebellescize@hotmail.fr</i></p>
    </div>
  </div>
</div>
<div class="row">

  <div class="col s12 row">
    <h4 class="teal-text">Nos dernières recettes :</h4>
    <div class="row">
      {% for recipe in recipes %}
        {% include 'recipe/recipe-card.html.twig' %}
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}

{% endblock %}
