{% extends 'admin/base.html.twig' %}

{% block body %}

<div id="adminContent">
{{ form_start(form) }}
<div class="row">
{{ form_widget(form.url) }}
</div>
{{ form_end(form) }}
</div>

{% endblock %}
