{% extends 'admin/base.html.twig' %}

{% block body %}

<div id="adminContent">
{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form._token) }}
<div class="row">
{{ form_row(form.name) }}
</div>
<div class="row">
{{ form_row(form.description) }}
</div>
<div class="row">
{{ form_row(form.advice) }}
</div>
<p>
  <label>
    <input type="checkbox" id="IngredientType_isVegan" name="IngredientType[isVegan]" {% if form.vars.value.isVegan == 1 %}checked="checked"{% endif %}>
    <span>Ingrédient Vegan</span>
  </label>
</p>
<p>
  <label>
    <input type="checkbox" id="IngredientType_isVegetarian" name="IngredientType[isVegetarian]" {% if form.vars.value.isVegetarian == 1 %}checked="checked"{% endif %}>
    <span>Ingrédient Végétarien</span>
  </label>
</p>
<p>
  <label>
    <input type="checkbox" id="IngredientType_isGlutenfree" name="IngredientType[isGlutenfree]" {% if form.vars.value.isGlutenfree == 1 %}checked="checked"{% endif %}>
    <span>Ingrédient sans gluten</span>
  </label>
</p>
{{ form_row(form.submit) }}
{{ form_end(form, {'render_rest': false}) }}
</div>
{% endblock %}
