{% extends 'admin/base.html.twig' %}

{% block body %}
<div id="adminContent">
  <a href="{{ path("app_admin_ingredientnew") }}" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Créer</a>
<div>
  <table class="striped responsive-table">
    <form method="POST">
      {{ form_start(form) }}
      <thead>
        <tr>
          <th>
            {{ form_row(form.name) }}
            <!-- <div class="input-field col s12">
              <input name="name" placeholder="Nom" id="first_name" type="text" class="validate">
              <label for="name">Nom</label>
            </div> -->
          </th>
          <th>Action</th>
        </tr>
      </thead>
      {{ form_end(form) }}

    <tbody>
      {% for ingredient in ingredients %}
      <tr>
        <td>{{ ingredient.name }}</td>
        <td><a class='dropdown-trigger btn' href='#' data-target='dropdown-{{ingredient.id}}'>Drop Me!</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="col s12 navigation text-center">
    {{ knp_pagination_render(ingredients) }}
  </div>

  {% for ingredient in ingredients %}
  <ul id='dropdown-{{ingredient.id}}' class='dropdown-content'>
    <li><a href="{{ path('app_admin_ingredientedit', {'id' : ingredient.id }) }}">Editer</a></li>
  </ul>
  {% endfor %}

</div>

<script>
$(document).ready(function(){
  $('.dropdown-trigger').dropdown();
});
</script>
{% endblock %}
