{% extends 'base.html.twig' %}

{% block head %}
<!--- Facebook Metadata --->
<meta property="og:title" content="BeatEat - {{ recipe.name }}" />
<meta property="og:description" content="{{ recipe.description }}" />
{% if recipe.media %}
<meta property="og:image" content="https://beat-eat.com{% path recipe.media, 'big' %}" />
{% else %}
<meta property="og:image" content="https://beat-eat.com{{ asset('bundles/app/img/default.png') }}" />
{% endif %}

{% endblock %}

{% block sidenavEnd %}
<li id="bring_button_left_menu">
  <div data-bring-import data-bring-language="fr" style="display:none">
    <a href="https://www.getbring.com">Ajouter a ma liste de course</a>
  </div>
</li>
{% endblock %}

{% block body %}

<!-- Modal Structure -->
<div id="ingredient-modal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4 class="center-align">Ingrédients</h4>
    <div class="text-center">
      <span class="hide-on-small-only">Pour</span>
      <a class="btn-floating btn-small waves-effect waves-light red remove_number_person_parameter"><i class="material-icons">remove</i></a>
      <span class="number_person_parameter" data="{{ recipe.forPerson }}">{{ recipe.forPerson }}</span>
      <a class="btn-floating btn-small waves-effect waves-light red add_number_person_parameter"><i class="material-icons">add</i></a>
      <span class="hide-on-small-only">personnes</span>
    </div>
    <div class="row">
      {% for part in recipe.parts %}
        <h6 class="red-text">{{part.name}}</h6>

        {% for partHasIngredient in part.ingredients %}
          <div class="row modal_ingredient_list">
            <span class="col s12 m6 center-align">
              {{ partHasIngredient.ingredient.name }}
            </span>
            <span class="col s12 m6 center-align teal-text lighten-1">
              <span class="ingredient_value" data="{{ partHasIngredient.value }}">
                {{ partHasIngredient.value }}
              </span>
              {{ partHasIngredient.unit.symbol }}
            </span>
          </div>
        {% endfor %}
    {% endfor %}
    </div>
    </div>
  </div>
</div>

<div class="card hoverable" itemscope itemtype="http://schema.org/Recipe">
  <span class="hide" itemprop="keywords">{{ recipe.description }}</span>
  <span class="hide" itemprop="recipeCuisine">french</span>
  <div class="card-image row">
    <div class="card-image-wrapper col m7 s12">
      {% if recipe.media %}
      <img itemprop="image" src="{% path recipe.media, 'big' %}">
      {% else %}
      <img itemprop="image" src="{{ asset('bundles/app/img/default.png') }}">
      {% endif %}
    </div>
    <div class="recipe-traits hide-on-small-only col m5 s12">
      <div style="display:none">
        <small class="recipe_note">
          {% for i in 1..5 %}
          {% if recipe.note - i >= 0 %}
          <i class="material-icons">star</i>
          {% elseif recipe.note - i > -1 %}
          <i class="material-icons">star_half</i>
          {% else %}
          <i class="material-icons">star_border</i>
          {% endif %}
          {% endfor %}
        </small>
      </div>

      <div class="row modal_ingredient_list">
        <span class="col s6">
          <i class="material-icons">people</i> Quantité
        </span>
        <span class="col s6 teal-text lighten-1">
          <span class="secondary-content">
            {% if recipe.forPerson is not null %}{{ recipe.forPerson }} personnes {% else %} -- {% endif %}
          </span>
        </span>
      </div>
      <div class="row modal_ingredient_list">
        <span class="col s6">
          <i class="material-icons">alarm</i> Préparation
        </span>
        <span class="col s6 teal-text lighten-1">
            <span class="secondary-content">
              {{ recipe.preparationTime }} min
            </span>
        </span>
      </div>
      <div class="row modal_ingredient_list">
        <span class="col s6">
          <i class="material-icons">whatshot</i>Cuisson
        </span>
        <span class="col s6 teal-text lighten-1">
            <span class="secondary-content">
              {% if recipe.cookTime is not null %}{{ recipe.cookTime }} min {% else %} -- {% endif %}
            </span>
        </span>
      </div>
      <div class="row modal_ingredient_list">
        <span class="col s6">
          <i class="material-icons">restore</i>Repos
        </span>
        <span class="col s6 teal-text lighten-1">
            <span class="secondary-content">{% if recipe.restTime is not null %}{{ recipe.restTime }} min {% else %} -- {% endif %}</span>
        </span>
      </div>
    </div>
  </div>
  <div class="card-content row">
    <div class="row recipe-name-wrapper">
      <div class="col s10">
        <h1 class="recipe_name" itemprop="name">
          {{ recipe.name }} <small> - <span itemprop="recipeCategory">{{ recipe.category.name }}</span></small>
        </h1>
      </div>
      <a href="#" class="recipe_like col s2">
        <i class="small material-icons">{{ getFavoriteIcon(app.user, recipe) }}</i>
      </a>
    </div>
    <div class="hide-on-med-and-up">
      <div style="display:none">
        <small class="recipe_note">
          {% for i in 1..5 %}
          {% if recipe.note - i >= 0 %}
          <i class="material-icons">star</i>
          {% elseif recipe.note - i > -1 %}
          <i class="material-icons">star_half</i>
          {% else %}
          <i class="material-icons">star_border</i>
          {% endif %}
          {% endfor %}
        </small>
      </div>
      <span style="display:none" itemprop="author">Beat Eat</span>
      <span style="display:none" itemprop="description">{{ recipe.description }}</span>
      <div style="display:none" itemprop="nutrition" itemscope itemtype="http://schema.org/NutritionInformation">
        Nutrition facts:
        <span itemprop="calories">0 calories</span>,
        <span itemprop="fatContent">0 grams fat</span>
      </div>
      <div style="display:none" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        <span itemprop="ratingValue">{{ recipe.note }}</span> stars -
        based on <span itemprop="reviewCount">1</span> reviews
      </div>

      <div class="row modal_ingredient_list">
        <span class="col s6">
          <i class="material-icons">people</i> Quantité
        </span>
        <span class="col s6 teal-text lighten-1">
          <span itemprop="recipeYield" class="secondary-content">
            {% if recipe.forPerson is not null %}{{ recipe.forPerson }} personnes {% else %} -- {% endif %}
          </spans>
        </span>
      </div>
      <div class="row modal_ingredient_list">
        <span class="col s6">
          <i class="material-icons">alarm</i> Préparation
        </span>
        <span class="col s6 teal-text lighten-1">
            <span itemprop="prepTime" content="PT{{ recipe.preparationTime }}M" class="secondary-content">
              {{ recipe.preparationTime }} min
            </span>
        </span>
      </div>
      <div class="row modal_ingredient_list">
        <span class="col s6">
          <i class="material-icons">whatshot</i>Cuisson
        </span>
        <span class="col s6 teal-text lighten-1">
            <span itemprop="cookTime" content="PT{{ recipe.cookTime }}M" class="secondary-content">
              {% if recipe.cookTime is not null %}{{ recipe.cookTime }} min {% else %} -- {% endif %}
            </span>
        </span>
      </div>
      <div class="row modal_ingredient_list">
        <span class="col s6">
          <i class="material-icons">restore</i>Repos
        </span>
        <span class="col s6 teal-text lighten-1">
            <span class="secondary-content">{% if recipe.restTime is not null %}{{ recipe.restTime }} min {% else %} -- {% endif %}</span>
        </span>
      </div>
    </div>
    <div id="ingredient-wrapper" class="col s12">
      <!-- Switch -->
      <div class="switch">
        <label>
          Garder les ingrédients affichés
          <input id="ingredient_modal_switch" type="checkbox">
          <span class="lever"></span>
        </label>
      </div>
      <ul id="ingredient-list" class="collection with-header">

        <div class="text-center">
          Pour
          <a class="btn-floating btn-small waves-effect waves-light red remove_number_person_parameter"><i class="material-icons">remove</i></a>
          <span class="number_person_parameter" data="{{ recipe.forPerson }}">{{ recipe.forPerson }}</span>
          <a class="btn-floating btn-small waves-effect waves-light red add_number_person_parameter"><i class="material-icons">add</i></a>
          personnes
        </div>

        {% for part in recipe.parts %}
        <li class="collection-header"><h4>{{part.name}}</h4></li>
        {% for partHasIngredient in part.ingredients %}
        <li class="collection-item" itemprop="recipeIngredient">
          <div>{{ partHasIngredient.ingredient.name }}
            <div class="secondary-content">
              <span class="ingredient_value" data="{{ partHasIngredient.value }}">
                {{ partHasIngredient.value }}
              </span>
                {{ partHasIngredient.unit.symbol }}
            </div>
          </div>
        </li>

        {% endfor %}
        {% endfor %}
      </ul>
    </div>
    <div id="recipe_steps" class="col s12">
      {% for key, step in recipe.steps %}
      <h5 class="header">Étape {{ key + 1 }}</h5>
      <div itemprop="recipeInstructions">
        {{ step.text }}
      </div>
      <span>
        {% for timer in step.timers %}
            <a class="chrono" running=false data="{{ timer.time }}" init="{{ timer.time }}">
              {{ timer.name }} :  <span class="time">{{ timer.time|secondToTime }}</span>
              <i class="material-icons timer play">play_circle_filled</i>
              <i class="material-icons timer reset">refresh</i>
            </a>
        {% endfor %}
      </span>
      <br>
      {% endfor %}
    </div>
  </div>
</div>

<div class="toolbar-wrapper">
  <div class="fixed-action-btn toolbar direction-top">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">share</i>
      <div class="fab-backdrop"></div>
    </a>
    <ul>
      <li class="share-facebook waves-effect waves-light"><a href="#!"><i class="fab fa-facebook-square fa-2x"></i></a></li>
      <li class="waves-effect waves-light"><a href="#!"><i class="fab fa-twitter-square fa-2x"></i></a></li>
      <li class="waves-effect waves-light"><a href="#!"><i class="fab fa-instagram fa-2x"></i></a></li>
      <li class="waves-effect waves-light"><a href="#!"><i class="fas fa-link fa-2x"></i></a></li>
    </ul>
  </div>
</div>

<script async="async" src="//platform.getbring.com/widgets/import.js"></script>

<script>
  const artyom = new Artyom();
</script>

<script>
$(document).ready(function(){
  $('.fixed-action-btn').floatingActionButton({
    toolbarEnabled: true
  });
  $(".share-facebook").click(function() {
    var obj = {
      method: 'feed',
      link: '{{ app.request.uri }}',
    };
    function callback(response){};

    FB.ui(obj, callback);
  })

  $(".recipe_like").click(function(e) {
    e.preventDefault();
    addToFavorite();
  })

  $('.collapsible').collapsible();
});

function addToFavorite(elem){
  $.ajax({
    url : '{{ path('app_default_recipetofavorite', {"id":recipe.id}) }}',
    type : 'GET',
    dataType:'json',
    success : function(data) {
      console.log(data);
      var icon = $(".recipe_like").find('.material-icons');
      console.log(data.action);
      if (data.error) {
        M.toast({html: data.error});
      } else if (data.action === "add") {
        M.toast({html: 'Recette ajoutée aux favoris'});
        icon.html('favorite');
      } else {
        M.toast({html: 'Recette retirée des favoris'});
        icon.html('favorite_border');
      }
    },
    error : function(request, error) {
      console.log(JSON.stringify(request));
    }
  });
}


var default_value = 0;
var current_value = 0;

function notifyBrowser(title, desc)
{
  if (Notification.permission !== "granted")
  {
    Notification.requestPermission();
  }
  var notification = new Notification(title, {
    icon:'https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiKx--d7bPWAhXCNxQKHXrbCXwQjRwIBw&url=https%3A%2F%2Fwww.mql5.com%2Fen%2Fmarket%2Fproduct%2F4494&psig=AFQjCNERTK2i6oJ06xpbqyn9bwyKzAIxkg&ust=1505999974491909',
    body: desc,
  });
  /* Callback function when the notification is closed. */
  notification.onclose = function () {
    console.log('Notification closed');
  };
}

$(function() {
  function timer(){
    $(".chrono").each(function(){
      var run = $(this).attr("running");
      if (run == "true"){
        var data = $(this).attr("data");
        $(this).children(".time").html(timeToString(data));
        $(this).attr("data", --data)
        if (data == -1){
          notifyBrowser("Minuterie terminé !", "");
          $(this).attr("running", false)
          $(this).children('.play').html("play_circle_filled");
        }
      }
    })
  }
  setInterval(timer, 1000);
});

$(".play.timer").click(function(){
  var data = $(this).parent('a');
  if (data.attr("running") == "true"){
    data.attr("running", false);
    data.children('.play').html("play_circle_filled");
  } else {
    data.attr("running", true);
    data.children('.play').html("pause_circle_filled");
    notifyBrowser("Minuterie lancé pour " + timeToString(data.attr("data")), "");
  }
})

$(".reset.timer").click(function(){
  var data = $(this).parent('a');
  data.children('.play').html("play_circle_filled");
  data.attr("data", data.attr("init"));
  data.attr("running", false);
  $(this).parent().find('.time').html(timeToString(data.attr("init")));
})

function timeToString(time){
  var h, m, s;
  h = Math.floor(time / 3600);
  if (h<10) h = "0" + h;
  m = Math.floor(time % 3600 / 60);
  if (m<10) m = "0" + m;
  s = Math.floor(time % 3600 % 60);
  if (s<10) s = "0" + s;
  return (h + ' : ' + m + ' : ' + s);
}

$(document).ready(function(){
  $('#ingredient-modal').modal({
    dismissible: false, // Modal can be dismissed by clicking outside of the modal
    opacity: 0, // Opacity of modal background
    ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
      $(".modal-overlay").css("display", "none");
    },
    complete: function() {
    }
  });

  $("#ingredient_modal_switch").change(function(){
    if (this.checked) {
        $('#ingredient-modal').modal('open');
        $("#ingredient-list").hide("slow");
        $("main").addClass("ingredient_modal");
    }
    else{
        $("#ingredient-list").show("slow");
        $('#ingredient-modal').modal('close');
        $("main").removeClass("ingredient_modal");
    }
  });

  function updateIngredientsValue() {
    $(".ingredient_value").each(function() {
      var def = parseInt($(this).attr("data"));
      $(this).html(Math.round(def / default_value * current_value));
    });
  }

  $(".remove_number_person_parameter").click(function() {
      default_value = $(".number_person_parameter").attr("data");
      var current = $(".number_person_parameter").html();
      if (current == 1)
      return;
      $(".number_person_parameter").html(parseInt(current) - 1);
      current_value = parseInt($(".number_person_parameter").html());
      updateIngredientsValue();
  });

  $(".add_number_person_parameter").click(function() {
      default_value = $(".number_person_parameter").attr("data");
      var current = $(".number_person_parameter").html();
      $(".number_person_parameter").html(parseInt(current) + 1);
      current_value = parseInt($(".number_person_parameter").html());
      updateIngredientsValue();
  });
});
</script>
{% endblock %}
