{% extends 'admin/base.html.twig' %}

{% block body %}
{% form_theme form
'AppBundle:Form:recipe_has_part_field.html.twig'
'AppBundle:Form:part_has_ingredient_field.html.twig'
'AppBundle:Form:step_field.html.twig'
'AppBundle:Form:timer_field.html.twig'
'jquery.collection.html.twig'
%}

<link rel="stylesheet" href="{{ asset('bundles/app/css/cropper.min.css') }}" type="text/css" \>
<script src="{{ asset('bundles/app/js/cropper.min.js') }}"></script>

{{ form_start(form) }}

<div id="adminContent">
  <div id="vignette_id" class="section scrollspy">
    <h5 class="teal-text">Image :</h5>
    <div>
      <input id='input_file_vignette' type="file" style="display:none">
      {# form_widget(edition_form.base64_ressource) #}
      {% if not recipe.media %}
      <img id='vignette_img' src="{{ asset('bundles/app/img/default.png') }}">
      {% else %}
      <img id="vignette_img" src="{% path recipe.media, 'big' %}">
      {% endif %}
      <img id="cropper_vignette_img" style="display: none; max-width: 100%">
      <br>
      <a style="display:none" id="cancel_vignette_img" class="btn">Annuler</a>
      <a id="change_vignette_img" class="btn">Modifier</a>
      <a style="display:none" id="crop_vignette_img" class="btn">Valider</a><br><br>
    </div>
  </div>
  <div class="row">
    {{ form_row(form.name) }}
  </div>
  <div class="row">
  {{ form_row(form.category) }}
</div>
<div class="row">
{{ form_row(form.description) }}
</div>
<div class="row">
  <div class="col s4">
    {{ form_row(form.cookTime) }}
  </div>
  <div class="col s4">
    {{ form_row(form.preparationTime) }}
  </div>
  <div class="col s4">
    {{ form_row(form.restTime) }}
  </div>
</div>
<div class="row">
  <div class="col s4">
    {{ form_row(form.forPerson) }}
  </div>
  <div class="col s4">
    {{ form_row(form.note) }}
  </div>
</div>
<div class="row">
  <h5 class="teal-text">Parties :</h5>
  {{ form_row(form.parts) }}
</div>
<div class="row">
{{ form_row(form.steps) }}
</div>

</div>
{{ form_end(form) }}

<script src="{{ asset('bundles/app/js/jquery.collection.js') }}"></script>
<script src="{{ asset('bundles/app/js/jquery-ui.min.js') }}"></script>
<script>
var image = document.getElementById('image');
var cropper = new Cropper(image, {
  aspectRatio: 16 / 9,
  dragMode: 'crop',
  crop: function(event) {
  }
});
</script>

<script>
var $collectionHolder;

// setup an "add a tag" link
var $addTagButton = $('<button type="button" class="add_tag_link btn">Ajouter</button>');
var $newLinkLi = $('<li></li>').append($addTagButton);

jQuery(document).ready(function() {
  // Get the ul that holds the collection of tags
  $collectionHolder = $('ul.array_collection');

  // add the "add a tag" anchor and li to the tags ul
  $collectionHolder.append($newLinkLi);

  // count the current form inputs we have (e.g. 2), use that as the new
  // index when inserting a new item (e.g. 2)
  $collectionHolder.data('index', $collectionHolder.find(':input').length);

  $addTagButton.on('click', function(e) {
    // add a new tag form (see next code block)
    addTagForm($collectionHolder, $newLinkLi);
  });
});

function addTagForm($collectionHolder, $newLinkLi) {
  // Get the data-prototype explained earlier
  console.log($collectionHolder.data('prototype'));
  var prototype = $collectionHolder.data('prototype');

  // get the new index
  var index = $collectionHolder.data('index');

  var newForm = prototype;
  // You need this only if you didn't set 'label' => false in your tags field in TaskType
  // Replace '__name__label__' in the prototype's HTML to
  // instead be a number based on how many items we have
  // newForm = newForm.replace(/__name__label__/g, index);

  // Replace '__name__' in the prototype's HTML to
  // instead be a number based on how many items we have
  newForm = newForm.replace(/__name__/g, index);

  // increase the index with one for the next item
  $collectionHolder.data('index', index + 1);

  // Display the form in the page in an li, before the "Add a tag" link li
  var $newFormLi = $('<li></li>').append(newForm);
  $newLinkLi.before($newFormLi);
  $('select').formSelect();
}

$(document).ready(function(){
  $('select').formSelect();
  $('.steps-collection').collection({
    init_with_n_elements: 0,
    up: '<div style="display:none;"></div>',
    down: '<div style="display:none;"></div>',
    position_field_selector: '.step-position'
  });
  $('.parts-collection').collection({
    init_with_n_elements: 0,
    after_add: function(collection, element) {
      $('select').formSelect();
      element.find('.ingredients-collection').collection({
        init_with_n_elements: 2,
        after_add: function(collection, element) { $('select').formSelect(); },
        up: '<div style="display:none;"></div>',
        down: '<div style="display:none;"></div>',
        position_field_selector: '.ingredient-position'
      });
    },
    up: '<div style="display:none;"></div>',
    down: '<div style="display:none;"></div>',
    position_field_selector: '.part-position'
  });
  $('.ingredients-collection').collection({
  init_with_n_elements: 0,
  after_add: function(collection, element) { $('select').formSelect(); },
  up: '<div style="display:none;"></div>',
  down: '<div style="display:none;"></div>',
  position_field_selector: '.ingredient-position'
});
$('.timers-collection').collection({
  init_with_n_elements: 0,
  after_add: function(collection, element) { $('select').formSelect(); },
  up: '<div style="display:none;"></div>',
  down: '<div style="display:none;"></div>',
  position_field_selector: '.timer-position'
});

});

var cropper_vignette;
$("#change_vignette_img").click(function() {
  $("#input_file_vignette").click();
})

// Handle file change vignette
$('#input_file_vignette').on('change', function () {
  if (this.files && this.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {

      $("#cropper_vignette_img").attr('src', e.target.result);
      $("#vignette_img").hide();
      $("#cropper_vignette_img").show();


      if (cropper_vignette) {
        cropper_vignette.replace(e.target.result);
      }
      else {
        cropper_vignette = new Cropper(document.getElementById('cropper_vignette_img'), {
          viewMode: 1,
          aspectRatio: 450 / 334,
          dragMode: 'move',
          minCropBoxWidth: 450,
          minCropBoxHeight: 334,
          scalable: false,
          cropBoxResizable: false,
          modal: false,
          autoCropArea: 0.5
        });
      }

      // Display buttons
      $("#cancel_vignette_img").show("slow");
      $("#crop_vignette_img").show("slow");
    }
    reader.readAsDataURL(this.files[0]);
  }
  else {
    swal("Sorry - you're browser doesn't support the FileReader API");
  }
})

// Reset the crop vignette
function resetCropVignette(){
  if (cropper_vignette) {
    cropper_vignette.destroy();
    cropper_vignette = null;
  }
  $("#input_file_vignette").val("");
  $("#cropper_vignette_img").hide();
  $("#vignette_img").show();

  // Hide buttons
  $("#cancel_vignette_img").hide("slow");
  $("#crop_vignette_img").hide("slow");
}

// Cancel crop Vignette
$("#cancel_vignette_img").on("click", function(){
  resetCropVignette();
});

// Crop vignette
$("#crop_vignette_img").on("click", function(){
  if (cropper_vignette) {
    canvas = cropper_vignette.getCroppedCanvas();

    // Display new image
    $("#vignette_img").attr('src', canvas.toDataURL('image/jpeg'));
    resetCropVignette();

    // Set the input to upload
    banner_b64 = canvas.toDataURL('base64');
    $("#RecipeType_base64").val(banner_b64);
  }
});
</script>
{% endblock %}
