{% extends 'base.html.twig' %}



{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <h4 class="teal-text">Connexion</h4>
        <div>
          <form class="form-horizontal" role="form" method="POST" action="{{ path('security_login_check') }}">
            {% if error %}
            <div class="alert alert-danger">
              {{ error.messageKey|trans(error.messageData) }}
            </div>
            {% endif %}

            <div class="form-group">
              <label for="email" class="col-md-4 control-label">Email</label>

              <div class="col-md-6">
                <input id="email" type="email" class="form-control" name="_username" value="{{ last_username }}">
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="col-md-4 control-label">Mot de passe</label>

              <div class="col-md-6">
                <input id="password" type="password" class="form-control" name="_password">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 col-md-offset-4">
                <button style="margin-top:5px;" type="submit" class="btn btn-primary">
                  Connexion
                </button>
                <a style="margin-top:5px;" href="{{ url('register') }}" class="btn">
                  Inscription
                </a>
                <a style="margin-top:5px;" href="{{ url('hwi_oauth_service_redirect', {'service' : 'facebook'}) }}" class="btn">
                  <i class="fab fa-facebook-square fa-2x"></i>
                  Facebook
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
