{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h4 class="teal-text">Inscription</h4>
      <div>
        {{ form_start(form) }}
        <div class="form_group row">
          <div class="col s12 xl8 offset-xl2">
            {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
          </div>
        </div>

        <div class="form_group row">
          <div class="col s12 xl8 offset-xl2">
            {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
          </div>
        </div>

        <div class="form_group row">
          <div class="col s12 xl8 offset-xl2">
            {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="center-align" style="margin-top:5px;">
            <button style="margin-top:5px;" type="submit" class="btn" style="margin-top:5px;">
              S'inscrire
            </button>
            <a style="margin-top:5px;" href="{{ url('login') }}" class="btn">
              Connexion
            </a>
            <a style="margin-top:5px;" href="{{ url('hwi_oauth_service_redirect', {'service' : 'facebook'}) }}" class="btn">
              <i class="fab fa-facebook-square fa-2x"></i>
              Facebook
            </a>
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
